[Desktop Entry]
Name=雀魂 -じゃんたま-
Comment=雀魂を起動する
Exec=/home/akira/.local/bin/mahjongsoul-electron/node_modules/electron/dist/electron /home/akira/.local/bin/mahjongsoul-electron/index.js
Icon=/home/akira/.local/bin/mahjongsoul-electron/icon.png
Terminal=false
Type=Application
Categories=Game;
Keywords=game;mahjongsoul;
